{% extends 'base.html' %}
{% block content %}

<div class="confirm-wrapper">

    <div class="card confirm-card">

        <h3>Laporan Sudah Pernah Dibuat</h3>

        <p>
            Anda sudah pernah membuat laporan pada tanggal
            <span class="confirm-date">{{ tanggal }}</span>.
        </p>
        <p>
            Apakah Anda ingin melanjutkan dan mengedit laporan tersebut?
        </p>

        <div class="confirm-actions">
            <a href="{{ url_for('laporan_cabang', tanggal=tanggal, confirm='yes') }}"
               class="btn-yes">
                Ya
            </a>

            <a href="{{ url_for('dashboard') }}"
               class="btn-no">
                Tidak
            </a>
        </div>

    </div>

</div>

{% endblock %}